# Gateway Server 설정

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        # Product Service
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/v1/products/**
          filters:
            - RewritePath=/api/v1/products(?<segment>/?.*), /api/v1/products${segment}

        # Reservation Service
        - id: reservation-service
          uri: lb://RESERVATION-SERVICE
          predicates:
            - Path=/api/v1/reservations/**
          filters:
            - RewritePath=/api/v1/reservations(?<segment>/?.*), /api/v1/reservations${segment}

        # Reservation Seat Service
        - id: reservation-seat-service
          uri: lb://RESERVATION-SEAT-SERVICE
          predicates:
            - Path=/api/v1/reservation-seats/**
          filters:
            - RewritePath=/api/v1/reservation-seats(?<segment>/?.*), /api/v1/reservation-seats${segment}

        # Art Hall Service
        - id: arthall-service
          uri: lb://ARTHALL-SERVICE
          predicates:
            - Path=/api/v1/arthalls/**
          filters:
            - RewritePath=/api/v1/arthalls(?<segment>/?.*), /api/v1/arthalls${segment}


# Gateway Actuator
management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics, gateway

# Logging
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG